@page
@model TrainingProject.Pages.Explore.IndexModel
@{

}

<link rel="stylesheet" href="~/css/site.css">

<h1>Explore</h1>

<div class="search">
	<form action="/Explore/Index">
	  <input type="text" placeholder="Search.." name="search">
	  <button type="submit">Submit</button>
	</form>
</div>