@page
@model IndexModel
@inject TrainingProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<ul>
    <li><a asp-page="Workout/Index">Workout</a></li>
    <li><a asp-page="MyPage/Index">My Page</a></li>
</ul>
