@page
@model IndexModel
@inject TrainingProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}


<h1 id="welcome">Welcome, @accessControl.LoggedInAccountName!</h1>

        <div id="randomExercise">
        <ul>
            <li><p>Biceps curls</p></li>
            <li><p>Push ups</p></li>
            <li><p>Squats</p></li>
            <li><p>Shoulder press</p></li>
            <li><p>Bench press</p></li>
            <li><p>Mountain climbers</p></li>
            <li><p>Jumping jacks</p></li>
            <li><p>Kettlebell swing</p></li>
            <li><p>a</p></li>
            <li><p>b</p></li>
            <li><p>c</p></li>
            <li><p>d</p></li>
        </ul>
        </div>


