@page
@model TrainingProject.Pages.About.IndexModel
@{
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/About.css">

<div class="container">

    <h1>About us</h1>

    <div id="aboutUs">
        <p>Welcome to our workout site, where we are passionate about helping you achieve your fitness goals and lead a healthier lifestyle. Our mission is to provide you with the resources, guidance, and motivation to make your fitness journey enjoyable and rewarding.</p>

        <p>At our workout site, we believe that exercise is not just a means to an end but an essential part of a balanced and fulfilling life. We offer a wide range of workout programs, from cardio and strength training to yoga and mindfulness, designed to cater to different fitness levels and preferences.</p>

        <p>Our team of experienced fitness professionals is dedicated to creating engaging and effective workout routines that target various muscle groups, improve flexibility, and enhance overall endurance. We strive to make our workouts challenging yet accessible, ensuring that you can progress at your own pace and achieve sustainable results.</p>

        <p>In addition to our workout programs, we provide valuable resources and tips on nutrition, injury prevention, and lifestyle habits to support your fitness journey holistically. We believe that a well-rounded approach to health and wellness is key to achieving long-term success.</p>

        <p>Whether you are a beginner starting your fitness journey or a seasoned athlete looking to push your limits, our workout site is here to inspire and empower you. Join our vibrant community, connect with like-minded individuals, and embark on a transformative fitness experience.</p>

        <p>Thank you for choosing our workout site. We are excited to be a part of your fitness journey and look forward to helping you reach your goals.</p>
    </div>

    <div id="madeBy">
        <h2>Made by</h2>
        <ul id="madeByList">
            <li> <img src="/Pictures/AllanAvatars.png" /> Allan</li>
            <li> <img src="/Pictures/AxelAvatars.png" /> Axel</li>
            <li> <img src="/Pictures/HampusAvatars.png"/> Hampus</li>
            <li> <img src="/Pictures/IvanAvatars.png" /> Ivan</li>
        </ul>
    </div>

</div>