@page
@model TrainingProject.Pages.MyPage.IndexModel
@{

}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/MyPage.css">
<h1>My Page</h1>
<h2>@Model.loggedInID</h2>

<form method="post">
	<div id="containerValue">
	<table>
		<tr>
			<label for="age">Age</label>
			<input id="age" type="number" name="age"/>
		</tr>
		<tr>
			<label for="height">Height in cm</label>
			<input id="height" type="number" name="height"/>
		</tr>
		<tr>
			<label for="weight">Weight</label>
			<input id="weight" type="number" name="weight"/>
		</tr>
	</table>
	</div>
	<div id="containerGoal">
	<table>
		<tr>
			<label for="gender">Gender</label>
			<select id="gender" name="gender">
				<option value="true">Male</option>
				<option value="false">Female</option>
			</select>
		</tr>
		<tr>
			<label for="targetWeight">Goal Weight</label>
			<input id="targetWeight" type="number" name="targetWeight"/>
		</tr>
		<tr>
			<label for="targetDate">Goal Date</label>
			<input id="targetDate" type="date" name="targetDate"/>
		</tr>
	</table>
	</div>
	<button type="submit" id="myPageSubmit">Submit</button>
</form>
<a id="StartPage" asp-page="/Index">Start Page</a>
