@page 
@model TrainingProject.Pages.Workout.IndexModel
@{

}

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Workout.css">

<a id="createWorkout" asp-page="Edit">Create Workout</a>

<table>
    <thead>
        <tr>
            <th>Workout name</th>
           <th><a>Link to edit</a></th>
            <th><a>Show exercise</a></th>
        </tr>
    </thead>
    @foreach (var workout in Model.Workouts)
    {
        //TODO change links to buttons
        <tr id="existingWorkout">
            <th>@workout.Name</th>
            <th><a asp-page="Edit" asp-route-id="@workout.Id">Edit test</a></th>
            <th><a></a></th>
        </tr>
    }

</table>


