*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 90%;
    margin-left: 5%;
}
h1{
    margin: 2rem;
}
#containerValue {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    grid-gap: 10px;
    width: 500px;
    font-size: 20px;
    display: grid;
    grid-template:
        "a b"
        "c d"
        "e f"
}

#containerGoal {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a b"
        "c d";
}

#myPageSubmit {
    margin-top: 1%;
}

#graph {
    margin-top: 10%;
    font-size: 30px;
}

