body {
    width: 90%;
    margin-left: 5%;
}
#containerValue {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template:
        "a"
        "b"
        "c"
}

#containerGoal {
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a b c"
}

#myPageSubmit {
    margin-top: 1%;
}

#graph {
    margin-top: 10%;
    font-size: 30px;
}

