body {
    text-align: center;
    background-color: #242424;
    margin-top: 0;
    margin: 0;
    font-family: Arial Black;
}

header {
    display: grid;
    justify-content: space-between;
    grid-template: "a b";
    padding: 5px;
    background-color: #101010;
    margin-bottom: 15px;
}

a{
    color: inherit;
    text-decoration: none;
}

header form{
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    list-style-type: none;
    font-size: 25px;
    margin: 5px;
}

#logo{
    width: 200px;
    padding-left: 2rem;
    padding-top: 5px;
}

#logoDiv{
    text-align: center;
}

#pageList {
    display: flex;
    flex-direction: row-reverse;
    font-size: 22px;
    padding-left: 0;
    color: white;
}

#pageList li{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

table{
    border-collapse:collapse;
    background-color: rgb(218, 218, 218);
}

td{
    padding: 4px;
}

th{
    padding:6px;
}

table,th,td{
    border: 1px solid;
}
