body {
    text-align: center;
    background-color: #A9A9A9;
    margin-top: 0;
}

header {
    display: grid;
    justify-content: space-between;
    grid-template: "a b c";
    padding: 5px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.164);
}

header form{
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    list-style-type: none;
    font-size: 25px;
    margin: 5px;
}

#logo{
    width: 200px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

#logoDiv{
    text-align: center;
}

#login{
    display: grid;
    text-align: right;
    width: 192px;
}

#pageList {
    display: grid;
    font-size: 22px;
    grid-template: "a b c";
    padding-left: 0;
}

#pageList li{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

#randomExercise {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    grid-gap: 10px;
    width: 400px;
    font-size: 20px;
    display: grid;
    grid-template:
        "a b c"
        "d e f"
        "g h i"
        "j k l"
}

table{
    border-collapse:collapse;
}

td{
    padding: 4px;
}

th{
    padding:6px;
}

table,th,td{
    border: 1px solid;
}
