@using TrainingProject.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <ul id="pageList">
            <li><a asp-page="/MyPage/Index"><img src="/Pictures/Profile.png" /></a></li>
            <li><a asp-page="/index">Home</a></li>
            <li><a asp-page="/Workout/Index">Workouts</a></li>
            <li><a asp-page="/Explore/Index">Explore</a></li>
        </ul>
        <a id="logoA" asp-page="/index"><div id="logoDiv"><img id="logo" src="/Pictures/Logo.png" /></div></a>
        <div id="login">
            <a asp-page ="/FakeLogin">Sign In</a>
            <a asp-page="/FakeSignUp">Sign Up</a>
        </div>
        @*<environment names="Development">
            @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment>*@
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>