@using TrainingProject.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <ul id="pageList">
            <li><a asp-page="/MyPage/Index"><img src="/Pictures/Profile.png" /></a></li>
            <li><a asp-page="/index">Home</a></li>
            <li><a asp-page="/Workout/Index">Workouts</a></li>
        </ul>
        <a asp-page="/index"><div id="logoDiv"><img id="logo" src="/Pictures/Logo.png" /></div></a></li>
        <environment names="Development">
            @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment>
    </header>
    <main>
        @RenderBody()
        <div id="randomExercise">
        <ul>
            <li><p>Biceps curls</p></li>
            <li><p>Push ups</p></li>
            <li><p>Squats</p></li>
            <li><p>Shoulder press</p></li>
            <li><p>Bench press</p></li>
            <li><p>Mountain climbers</p></li>
            <li><p>Jumping jacks</p></li>
            <li><p>Kettlebell swing</p></li>
            <li><p>a</p></li>
            <li><p>b</p></li>
            <li><p>c</p></li>
            <li><p>d</p></li>
        </ul>
        </div>
    </main>
</body>
</html>